body{
    font-family:'Montserrat', sans-serif ;
    margin: 0;
    padding: 0;
}

.nav-item > a{
    color: #6A6A6A;
    margin-top: 15px;
}

.mainnav{
    float: right;
}

.navcontainer{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.toggle-button{
    margin-top: 32px;
    top: .75rem;
    right: 1rem;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.ecxlogo{
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}
/* .ecxlogo3{
    display: none;
} */

.userintrocontainer{
    background: url(./landingimg/Rectangle\ 93.png);
    height: 500px;
    background-size: cover;
    width: 100%;
}

.userintro{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: white;
}

.word{
    color: #6F6F6F;
}

.word1{
    color: white;
    font-size: 23px;
}
.upto{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.btn{
    width: 150px;
    background-color: rgba(254, 64, 59, 1);
    float: left;
}

.cardbtn{
    width: 211px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #38AFFE;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.cardbtn1{
    width: 211px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #38AFFE;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.cardbtn2{
    width: 211px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #38AFFE;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.cardbtn3{
    width: 211px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #38AFFE;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.cardbtn4{
    width: 211px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #38AFFE;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.cardbtn5{
    width: 211px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #38AFFE;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.gallerycontainer{
    text-align: center;
}

.row-one{
   
    width: 80%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.row-two{
   
    width: 80%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.row-three{
   
    width: 80%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}


.griditem1{
    
    width: 50%;
    height: 430px;
    border-radius: 20px;
    margin: 15px;
    /* background: #828282; */
    transition: width 1s;
}
.griditem2{
    
    width: 25%;
    height: 430px;
    border-radius: 20px;
    margin: 15px;
    /* background: #828282; */
    transition: width 1s;
}

.griditem3{
    
    width: 25%;
    height: 430px;
    border-radius: 20px;
    margin: 15px;
    /* background: #828282; */
    transition: width 1s;
}

/* .griditem4{
    
    width: 50%;
    height: 371px;
    border-radius: 20px;
    margin: 15px;
    background: #828282;
    transition: width 1s;
} */

.griditem5{
    
    width: 25%;
    height: 430px;
    border-radius: 20px;
    margin: 15px;
    /* background: #828282; */
    transition: width 1s;
}

.griditem6{
    
    width: 25%;
    height: 430px;
    border-radius: 20px;
    margin: 15px;
    /* background: #828282; */
    transition: width 1s;
}
.griditem7{
    
    width: 50%;
    height: 430px;
    border-radius: 20px;
    margin: 15px;
    /* background: #828282; */
    transition: width 1s;
}

/* .griditem6{
    
    width: 290px;
    height: 300px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0 0 15px black;
    transition: width 1s;
} */

.maingallery{
    /* width: 80%; */
    align-items: center;
}

.testimonialcontainer{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.meetteamcontainer{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.meetteamcontainer > img{
    width:50%;
}

.griditem9{
    
    width: 100%;
    height: 500px;
    border-radius: 20px;
    margin: 15px;
    /* background: #828282; */
    transition: width 1s;
}

.meetstudentcontainer{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    align-content: center;
}



.topstd{
    display: flex;
    flex-direction: row;
}

.stdword1{
    margin-top: 55px;
    margin-left: 110px;

}

#ecx1{
    background-image: url(landingimg/Rectangle\ 93.png);
    background-size: cover;
    background-position: center;
}

#ecx2{
    background-image: url(landingimg/Rectangle\ 6.png);
    background-size: cover;
    background-position: center;
}
#ecx3{
    background-image: url(landingimg/Rectangle\ 26.png);
    background-size: cover;
    background-position: center;
}
#ecx4{
    background-image: url(landingimg/Rectangle\ 23.png);
    background-size: cover;
    background-position: center;
}
#ecx5{
    background-image: url(landingimg/Rectangle\ 20.png);
    background-size: cover;
    background-position: center;
}
#ecx6{
    background-image: url(landingimg/Welcome\ Image\ 2.png);
    background-size: cover;
    background-position: center;
}

#ecx7{
    background-image: url(landingimg/Rectangle\ 17.png);
    background-size: cover;
    background-position: center;
}


.studentmain{
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 100%;
    justify-content: center;
}

.ol{
    color: black;
}

.stdcard{
    width: 370px;
    height: 370px;
    /* border: 2px solid black; */
    /* border-radius: 20px; */
    margin: 15px;
    position: absolute;
    box-shadow: -0.41px 1.23px 1.64px 0.41px rgba(64, 123, 255, 0.25);
    border-radius: 15.0625px;
}

.userintroing{
    position: absolute;
    z-index: 1;
    margin-right: 310px;
    margin-top: 20px;
}

.userintroing > img{
    border-radius: 100px;
}


.stdcardcont{
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* border: 2px solid blue; */
    width: 100%;
    height: 500px;
    justify-content: center;
}

.stdcardbody{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #6F6F6F;
}

.twittercontainer{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    align-content: center;
}

.userintroing2{
    position: absolute;
    z-index: 1;
    margin-right: 250px;
    margin-top: 30px;
}

.userintroing2 > img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.aboutcontainer{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    align-content: center;
}

.footercontainer{
    height: 400px;
    /* border: 2px solid black; */
    text-align: center;
    width: 80%;
    margin: 80px auto;
    align-content: center;
}

.footermain{
    justify-content: center;
    width: 100%;
    align-content: center;
}

.upperfooter{
    width: 100%;
    height: 360px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
}

.bottomfooter{
    width: 100%;
    height: 40px;
    /* border: 2px solid red; */
}

.footerword{
    float: left;
}

.footerbtn{
    float: right;
}

.footerbtn > img{
    width: 20px;
    height: 20px;
}

.ftbtn{
    height: 40px;
    width: 40px;
    background-color: red;
    border: none;
    border-radius: 5px;
    background: #FE403B;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.ecxinfo{
    width: 50%;
    /* border: 2px solid yellow; */
    text-align: left;
    padding-right: 40px;
}

.logo{
    width: 30px;
    height: 30px;
}

.quick{
    width: 25%;
    /* border: 2px solid purple; */
    text-align: left;
}

.quick > p{
    font-size: 15px;
}

.quick > a{
    text-decoration: none;
    color: slategray;
}

.contact{
    width: 25%;
    /* border: 2px solid green; */
    text-align: left;
}
.contact > p{
    font-size: 15px;
    opacity: 50%;
}

.contact > a{
    text-decoration: none;
    color: slategray;
}

/* .image{
    display: none;
}
.mainnav{
    display: none;
} */

.navbar-nav > a{
    float: right;
}

.navcontainer2{
    display: none;
}

.griditem11{
    display: none;
}

.footercontainer2{
    display: none;
}


.btncont{
    /* border: 2px solid black; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 0 auto;
}



















@media only screen and (max-width:1000px){
    .stdcardcont{
        margin: 10px auto;
        text-align: center;
        display: flex;
        /* border: 2px solid blue; */
        width: 100%;
        height: 500px;
        justify-content: center;
    }
    .studentmain{
        margin: 10px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        width: 100%;
        justify-content: center;
    }
    .userintroing{
        position: absolute;
        z-index: 1;
        margin-right: 310px;
        margin-top: 20px;
    }
    /* Nav bar for mobile testing for 400px max width */
    .toggle-button{
        display: flex;
    }
    .mainnav{
        display: none;
        width: 100%;
    }
    .navcontainer{
        flex-direction: column;
        align-items: flex-start;
    }
    .mainnav ul{
        flex-direction: column;
        width: 100%;

    }

    .mainnav li{
        text-align: center;
    }

    .mainnav li a{
        padding: .5rem 1rem;
    }

    .mainnav.active{
        display: flex;
    }
    .navcontainer{
        display: none;
    }
    .navcontainer2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .toggle-button2{
        margin-top: 32px;
        top: .2rem;
        right: 1rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    
    .toggle-button2 .bar2{
        height: 4px;
        width: 100%;
        background-color:white;
        border-radius: 10px;
        border-radius: 5px;
    }
    .mainnav2 ul{
        flex-direction: column;
        width: 100%;
        background-color: black;
        opacity: 50%;
        text-align: center;
    }
    .mainnav2 li{
        text-align: center;
    }

    .mainnav2 li:hover{
        background-color: slategrey;
        opacity: 50%;
        color: white;
    }
    .mainnav2 li a{
        padding: .5rem 1rem;
    }

    .mainnav2{
        width: 100%;
        display: none;
    }
    
    .nav-item2 > a{
        color:white;
    }

    .mainnav2.active{
        display: flex;
    }
    .ecxlogo2{
        /* float: left; */
        margin-left: 30px;
        margin-top: 20px;
        display: none;
    }

    .ecxlogo3{
        margin-left: 30px;
        margin-top: 20px;
        width: 200px;
    }

    .userintrocontainer{
        background: url(landingimg/Rectangle\ 932.jpg);
        height: 500px;
        width: 100%;
    }

    .word1 > p{
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        color: #E0E0E0;
        line-height: 140%;
    }

    .word > h4{
        font-size: 16px;
    }

    .card-deck{
        /* border: 2px solid black; */
        flex-direction: column;
    }

    .card{
        /* border: 2px solid red; */
        padding-bottom: 30px;
    }
    
    .maingallery{
        display: none;
    }


    .row-one{
        flex-direction: row;
    }

    .row-two{
        flex-direction: row;
    }

    .griditem3{
        display: none;
    }

    .griditem7{
        display: none;
    }

    .maingallery2{
        height: 600px;
        /* border: 2px solid black; */
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .row-one1{
   
        width: 50%;
        margin: 10px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        padding-left: 9%;
    }
    
    .row-two1{ 
        width: 50%;
        margin: 10px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* border: 2px solid yellow; */
        padding-right: 9%;
    }

    #ecx7{
        background-image: url(landingimg/Rectangle\ 17.png);
        background-size: cover;
        background-position: center;
    }

    #ecx10{
        background-image: url(landingimg/Rectangle\ 23.png);
        background-size: cover;
        background-position: center;
    }
    #ecx9{
        background-image: url(landingimg/Rectangle\ 20.png);
        background-size: cover;
        background-position: center;
    }

    .griditem10{
    
        width: 90%;
        height: 350px;
        border-radius: 20px;
        margin: 15px;
        /* background: #828282; */
        transition: width 1s;
    }

    .griditem13{
    
        width: 90%;
        height: 350px;
        border-radius: 20px;
        margin: 15px;
        /* background: #828282; */
        transition: width 1s;
    }

    .griditem12{
    
        width: 90%;
        height: 250px;
        border-radius: 20px;
        margin: 15px;
        /* background: #828282; */
        transition: width 1s;
    }

    .griditem11{
        margin-top: 50px;
        display: block;
    }
    .griditem11 > a{
        text-decoration: none;
    }


    .aboutcontainer{
        text-align: center;
        width: 90%;
        margin: 0 auto;
        align-content: center;
    }

    .meetstudentcontainer{
        text-align: center;
        width: 90%;
        margin: 0 auto;
        align-content: center;
    }

    .meetteamcontainer{
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .griditem9{
        height: 300px;
        width: 1440;
    }

    .footercontainer{
        display: none;
    }

    .footercontainer2{
        height: 600px;
        /* border: 2px solid black; */
        text-align: center;
        width: 80%;
        margin: 80px auto;
        align-content: center;
        display: flex;
        border-top: 2px solid #008CD6;
        padding-top: 20px;
    }
    .footermain2{
        justify-content: center;
        width: 100%;
        align-content: center;
    }
    .upperfooter2{
        width: 100%;
        height: 360px;
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: row;
    }

    .bottomfooter2{
        width: 100%;
        height: 300px;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
    }
    .footerword2{
        float: left;
    }
    .footerbtn2{
        float: right;
    }

    .footerbtn2 > img{
        width: 20px;
        height: 20px;
    }
    
    .ftbtn2{
        height: 40px;
        width: 40px;
        background-color: red;
        border: none;
        border-radius: 5px;
        background: #FE403B;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
        font-size: 25px;
        font-weight: 700;
        color: white;
    }

    .ecxinfo2{
        width: 100%;
        /* border: 2px solid yellow; */
        text-align: left;
        padding-right: 40px;
        margin-bottom: 40px;
    }

    .btmfooter{
        /* border: 2px solid green; */
        margin-bottom: 50px;
    }

    .quick2{
        width: 50%;
        /* border: 2px solid purple; */
        text-align: left;
    }

    .quick2 > p{
        font-size: 15px;
    }
    
    .quick2 > a{
        text-decoration: none;
        color: slategray;
    }
    

    .contact2{
        width: 50%;
        /* border: 2px solid green; */
        text-align: left;
    }

    .contact2 > p{
        font-size: 15px;
        opacity: 50%;
    }
    
    .contact2 > a{
        text-decoration: none;
        color: slategray;
    }

    .cardbtn{
        width: 150px;
        height: 40px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: #38AFFE;
        font-weight: bold;
        color: white;
        font-size: 14px;
    }
    
    .cardbtn1{
        width: 150px;
        height: 40px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: #38AFFE;
        font-weight: bold;
        color: white;
        font-size: 12px;
    }
    
    .cardbtn2{
        width: 150px;
        height: 40px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: #38AFFE;
        font-weight: bold;
        color: white;
        font-size: 12px;
    }
    
    .cardbtn3{
        width: 150px;
        height: 40px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: #38AFFE;
        font-weight: bold;
        color: white;
        font-size: 12px;
    }
    
    .cardbtn4{
        width: 170px;
        height: 40px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: #38AFFE;
        font-weight: bold;
        color: white;
        font-size: 12px;
    }
    
    .cardbtn5{
        width: 150px;
        height: 40px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: #38AFFE;
        font-weight: bold;
        color: white;
        font-size: 12px;
    }

    .btncont{
        /* border: 2px solid black; */
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 340px;
        margin: 0 auto;
    }

    /* .btn11{
        border: 2px solid red;


    } */
    /* .btn22{
        border: 2px solid blue;

    } */

    .card-deck{
        width: 70%;
        margin: 0 auto;
    }
}